<section class="bg-loop hero is-fullheight full-page">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-grey">
          <figure class="avatar"><img src="assets/imgs/logo.jpg" /></figure>
        </h3>
        <div class="box">
          <form [formGroup]="_auth" (ngSubmit)="login()">
            <div class="field">
              <div class="control">
                <input
                  class="input is-large"
                  formControlName="username"
                  type="text"
                  placeholder="User"
                  autofocus=""
                  required
                />
              </div>
            </div>

            <div class="field">
              <div class="control">
                <input
                  class="input is-large"
                  formControlName="password"
                  type="password"
                  placeholder=" Password"
                  required
                />
              </div>
            </div>

            <button
              [disabled]="_auth.invalid"
              type="submit"
              class="button is-block is-success is-large is-fullwidth {{Checkloading()}}"
            >
              Sign in
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
