<div class="landing">
  <div class="left-side"></div>
  <div class="right-side"></div>

  <div class="logo">
    <img src="assets/imgs/logo.png" alt="" />
  </div>

  <div class="slogan">
    <div class="text-secondary">LIVING</div>
    <div class="text-primary u-margin-top-small">contemplary open plan</div>
  </div>

  <div class="show-more">
    <button class="landing-page-button">Find Room</button>
  </div>

  <div class="menus">
    <ul>
      <li>About Us</li>
      <li>Contact</li>
      <li>Resident</li>
      <li>Sign Up</li>
    </ul>
  </div>

  <div class="promotion"></div>
</div>
