<div class="card">
  <div class="card-content">
    <form action="">
      <div class="columns">
        <div class="column">
          <div class="field is-grouped">
            <!--
              <p class="control" (click)="addNewRooms($event)">
                <a class="button is-info"> Add New Room </a>
              </p>
            -->
          </div>
        </div>
        <div class="column">
          <div class="field is-grouped is-grouped-right">
            <p class="control">
              <a
                class="button is-primary"
                (click)="searchPanelActivated($event)"
              >
                ค้นหาห้องประชุม
              </a>
            </p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
