<div class="app-wrapper app-sign-in">
  <form [formGroup]="form" class="form-sign-in" (ngSubmit)="login()">
    <div class="form-header">
      <span class="form-header">Sign In</span>
    </div>

    <div class="row">
      <label for="username">Username</label>
      <input
        type="text"
        class="u-full-width"
        formControlName="username"
        id="username"
      />
    </div>

    <div class="row">
      <label for="name">Password</label>
      <input
        type="password"
        class="u-full-width"
        formControlName="password"
        id="password"
      />
    </div>

    <div class="row u-text-center footer">
      <input class="button-primary" type="submit" value="Sign In" />
    </div>

    <div class="row u-text-center">
      <span
        >Not already have account?
        <a [routerLink]="['/auth/signup']" routerLinkActive="router-link-active"
          >sign up</a
        >
      </span>
    </div>
  </form>
</div>
