.register-header {
  max-width: 100rem;
  margin: 0 auto;
}

.register {
  max-width: 100rem;
  background-color: #ffffff;
  margin: 1rem auto;
  border: 1px solid #cccccc;

  form {
    padding: 15px;
  }
}
