.resident-management {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 25px;

  .building {
    width: 100%;
    background-color: #ffffff;
    overflow: hidden;
    height: 250px;
    box-shadow: 0px 0px 3px rgba($color: #262626, $alpha: 0.4);
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      transition: 0.4s;

      &:hover {
        transform: scale(1.2);
        transition: 0.4s;
      }
    }

    &__image {
      height: 190px;
      overflow: hidden;
      border-bottom: 1px solid rgba($color: #262626, $alpha: 0.2);
    }

    &__label {
      padding: 8px 15px;
      font-size: 1.25rem;
      font-family: 'Cabin Condensed', sans-serif;
      color: rgba($color: #262626, $alpha: 0.8);
    }
  }
}

.cover {
  // width: 300px;
  object-fit: cover;
}

.no-cover {
  width: 75%;
  height: auto;
}

.add-new {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 150px !important;
    height: 150px !important;
  }
}

// resident-management
@media only screen and (max-width: 90rem) {
  .resident-management {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 76rem) {
  .resident-management {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 45rem) {
  .resident-management {
    grid-template-columns: repeat(2, 1fr);
  }

  .resident-management {
    .building {
      height: 15rem;
    }
  }
}
