<div class="card">
  <div class="card-content">
    <form action="">
      <label class="label">Search Available Room</label>
      <div class="columns u-margin-top-small">
        <div class="column">
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label subtitle is-6">Room Type</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select>
                      <option>Please select room type</option>
                      <option>Whiteboard</option>
                      <option>Projector</option>
                      <option>Video Conference</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label subtitle is-6">BD.</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select>
                      <option>KBTG</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label subtitle is-6">Floor</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select>
                      <option>Floor 11</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label subtitle is-6">Type</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select>
                      <option>Available Only</option>
                      <option>All Type</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label subtitle is-6">Start</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input class="input" type="text" placeholder="Text input" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label subtitle is-6">End</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select>
                      <option>KBTG</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <div class="field is-grouped">
            <p class="control"><a class="button is-info"> Add New Room </a></p>
          </div>
        </div>
        <div class="column">
          <div class="field is-grouped is-grouped-right">
            <p class="control"><a class="button is-primary"> Search </a></p>
            <p class="control"><a class="button is-light"> Cancel </a></p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
