<aside class="menu u-margin-top-small">
  <!-- <p class="menu-label">Manage Conference Rooms</p> -->
  <ul class="menu-list">
    <!-- <li><a>Dashboard</a></li> -->
    <!-- <li><a [routerLink]="['/rooms']">All Rooms</a></li> -->
    <li><a [routerLink]="['/users']">Reserve Room</a></li>
  </ul>
  <!--
    <p class="menu-label">Administration</p>
    <ul class="menu-list">
      <li><a>Team Settings</a></li>
      <li>
        <a class="is-active">Manage Your Team</a>
        <ul>
          <li><a>Members</a></li>
          <li><a>Plugins</a></li>
          <li><a>Add a member</a></li>
        </ul>
      </li>
      <li><a>Invitations</a></li>
      <li><a>Cloud Storage Environment Settings</a></li>
      <li><a>Authentication</a></li>
    </ul>
  -->
</aside>
