.u-margin-top-huge {
  margin-top: 4rem;
}

.u-margin-top-medium {
  margin-top: 2.5rem;
}

// Right
.u-margin-right-small {
  margin-right: 8px;
}

.u-margin-right-medium {
  margin-right: 1.5rem;
}

.u-margin-right-huge {
  margin-right: 2.5rem;
}

.u-text-info {
  font-size: 1.5rem;
}
