<app-confirm-reserve-modal></app-confirm-reserve-modal>
<p class="subtitle is-4">ผลการค้นหาห้องที่ว่าง</p>

<div class="card u-padding-small-1">
  <div class="columns">
    <div class="column"></div>
    <div class="column">
      <div class="field is-grouped is-grouped-right">
        <p class="control">
          <a
            class="button is-primary"
            [ngClass]="{ 'is-outlined': selected.length === 0 }"
            (click)="reserveRequest()"
          >
            จองห้อง
          </a>
        </p>
        <p class="control">
          <a class="button is-outlined" (click)="backToHome($event)">
            ยกเลิก
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="main u-margin-top-small"></div>
<ngx-datatable
  class="material"
  [rows]="display"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [limit]="5"
  [selected]="selected"
  [selectionType]="'checkbox'"
  [selectAllRowsOnPage]="false"
>
  <ngx-datatable-column
    [width]="30"
    [sortable]="false"
    [canAutoResize]="false"
    [draggable]="false"
    [resizeable]="false"
    [headerCheckboxable]="true"
    [checkboxable]="true"
  >
  </ngx-datatable-column>
  <!-- <ngx-datatable-column name="ชื่อห้อง"></ngx-datatable-column> -->
  <ngx-datatable-column name="name"></ngx-datatable-column>
  <ngx-datatable-column name="building"></ngx-datatable-column>
  <ngx-datatable-column name="type"></ngx-datatable-column>
  <ngx-datatable-column name="capacity"></ngx-datatable-column>
</ngx-datatable>
