<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Add New Rooms</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <form action="">
        <div class="column">
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label subtitle is-6">Room Type</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select>
                      <option>Please select room type</option>
                      <option>Whiteboard</option>
                      <option>Projector</option>
                      <option>Video Conference</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label subtitle is-6">Building</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select>
                      <option>KBTG</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label subtitle is-6">Floor</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select>
                      <option>Floor 11</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label subtitle is-6">Type</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select>
                      <option>Available Only</option>
                      <option>All Type</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="field is-grouped is-grouped-right">
            <p class="control"><a class="button is-info"> Confirm </a></p>
            <p class="control"><a class="button is-light"> Cancel </a></p>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>
